* {
    font-family:Arial, Helvetica, sans-serif;

}
.monkey {
    float: right;
}
h1 {
color:mediumorchid;
display:block;
width: 100vw;
text-align: center;
}

.box
{
    display: flex;
    flex-direction: row;
}
.box-text
{
    display:flex;
    flex-direction: column;
}
.lake-text { 
    display: flex;
    flex-direction: row;
}
.Elisabetta {
    display: flex;
}
h3 {
    color:blueviolet;
}

h1 span{
    background-color: beige;
}
.activities{
display: flex;
gap: 10px;
}
.compilation {
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
  
    column-gap: 15rem;
    row-gap: 5rem;
  }
  .Work-1,
.Work-2,
.Work-3,
.Work-4,
.Work-5 {
  text-align:center;
  vertical-align: middle;
  line-height: 10px;}