.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
  
    column-gap: 16rem;
    row-gap: 10rem;
  }
  
  body {
    max-width: 1000px;
    margin: auto;
    background-color: rgb(196, 174, 173);
  }
  
  
  * {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .Item-1,
  .Item-2,
  .Item-3,
  .Item-4,
  .Item-5 {
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    background-color: rgb(196, 174, 173);
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: bolder;
    height: 280px;
  }
  /* 
  .Item-2 {
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: bolder;
    height: 280px;
  }
  .Item-3 {
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: bolder;
    height: 280px;
  }
  .Item-4 {
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: bolder;
    height: 280px;
  }
  .Item-5 {
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: bolder;
    height: 280px;
  } */
  
  h1 {
    color: white;
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 50px;
  }
  
  footer {
    text-align: left;
  }